.data-table-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.add-item-wrapper {
  margin-left: 30px;
}

.add-item-wrapper label {
  display: inline-block;
  margin-top: 10px;
}

.filter-columns-section {
  display: flex;
  justify-content: space-around;
  width: 220px;
}

.filter-columns-section .column-list {
  width: 80px;
}

.filter-columns-section select {
  width: 70px;
  height: 130px;
}

.filter-columns-section .move-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
